@model HabilidadesViewModel

<div style="margin-top: -100px">

    <div class="row justify-content-md-center text-center">
        <div class="col col-3 bg-white habilidades" style="border-radius: 15px 0 0 15px; box-shadow:0 5px 5px 0 gray">
            <i class="bi-rocket-takeoff"></i>
            <h3>@Model.BackTitulo</h3>
            <p>@Model.BackDescripcion</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>@Model.BackStack</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                @foreach (var item in Model.BackExperiencia)
                {
                    <li>@item</li>
                }
            </ul>
        </div>

        <div class="col col-3 bg-white habilidades" style="border-radius: 0 15px 15px 0; box-shadow:0 5px 5px 0 gray">
            <i class="bi-rocket-takeoff-fill"></i>
            <h3>@Model.FrontTitulo</h3>
            <p>@Model.FrontDescripcion</p>

            <p class="text-primary cabecera">Stack:</p>
            <p>@Model.FrontStack</p>

            <p class="text-primary cabecera">Experiencia:</p>
            <ul>
                @foreach (var item in Model.FrontExperiencia)
                {
                    <li>@item</li>
                }
            </ul>
        </div>
    </div>

</div>
